@model MovieTicketBookingProject.ViewModels.AdminMovieModel

@{
    ViewData["Title"] = "AdminEdit";
}

<h1>AdminEdit</h1>

<h4>AdminMovieModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AdminEdit" method="post" enctype="multipart/form-data" asp-controller="Manager">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genre" class="control-label"></label>
                <input asp-for="Genre" class="form-control" />
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateofShow" class="control-label"></label>
                <input asp-for="DateofShow" class="form-control" />
                <span asp-validation-for="DateofShow" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <input type="file" name="files" multiple asp-for="ImageUrl" class="form-control" />
                <img src="@Model.ImageUrl" width="100" height="100" asp-append-version="true" />


            </div>
            <div class="form-group">
                <label asp-for="AvailableSeats" class="control-label"></label>
                <input asp-for="AvailableSeats" class="form-control" />
                <span asp-validation-for="AvailableSeats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="AdminIndex">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
